.uqcs_grey{
    background-color: #2F312E !important;
    /*background-color: #27498C !important;*/
}

.uqcs_blue{
    background-color: #27498C !important;
}

.uqcs_dark_grey{
    background-color: #20211F !important;
}