/*UQCS Website Style Sheet*/
/*Author: Dragan Marjanovic*/

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

.container {
    flex: 1 0 auto;
}

.pagination
{
    text-align: center;
}

.banner
{
    font-weight: 500;

    padding: 5%;

    text-align: center;

    color: white;
    background-color: black;
    background-image: url('/img/background_grey.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo
{
    max-height: 40px;
}

.dropdown-content
{
    margin-top: 64px !important;
}

.profile
{
    text-align: center;
}

.profile .name
{
    font-weight: 800;
}

.profile-img
{
    display: block;

    height: 150px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 50%;
}

/*This is hackish and someone else should fix it*/
.brand-logo
{
    padding-top: 9px !important;
}


/*List Items for Markdown*/
.main ul
{
    margin-left: 20px;
}

.main li
{
    list-style: initial;
}

.sponsor-img
{
    width: 100%;
}

.dropdown-content a
{
    color: #3498db !important;
}

.details-box{
    border: 1px solid #3D403C;
    background-color: #E1E1E1;
    padding: 15px;
}

.post img{
    width: 100%;
}

.page-footer {
    background-color: black;
    background-image: url('/img/background_grey.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 1200px) {
    .show-on-extra-large {
        display: block !important;
    }
}

@media only screen and (max-width: 1200px) {
    .hide-on-large-and-down {
        display: none !important;
    }
}

@media only screen and (min-width: 993px) {
    .show-on-large-and-up {
      display: block !important;
    }
}
