---
layout: index
---



<!-- Featured Content Bar -->

<div class="banner">
    <h2>Create Change! Join UQ Computing Society!</h2>
    <a href="https://join.uqcs.org.au/"
    class="waves-effect waves-light btn-large uqcs_blue">Join</a>
</div>

<div id="main_content" class="container">

{% for post in paginator.posts %}
<div class="post">
  <h2>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
    <div class="post-content">{{ post.content | split: "<!--more-->" | first}}
    <div class="read-more">    
{% if post.content contains "<!--more-->" %}
      <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
    {% endif %}
    </div>
  </div>
</div>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <li class="waves-effect"><a href="{{ paginator.previous_page_path }}"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active uqcs_blue"><a href="#!">{{ page }}</a></li>
    {% elsif page == 1 %}
    <a href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">
      <li class="waves-effect">{{ page }}</li>
      </a>
    {% else %}
    <a href="{{ site.paginate_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
      <li class="waves-effect">{{ page }}</li>
      </a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="waves-effect"><a href="{{ paginator.next_page_path }}"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</div>
{% endif %}

<!-- Uncomment for RSS Feed -->
<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div>
