---
layout: page
---

<!-- <h1 class="page-heading">UQ Computing Society</h1> -->
<hr />
{% for post in paginator.posts %}
<div class="post">
  <h2>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
    <div class="post-content">{{ post.content | split: "<!--more-->" | first}}
    <div class="read-more">    
{% if post.content contains "<!--more-->" %}
      <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
    {% endif %}
    </div>
  </div>
</div>
{% endfor %}

<div class="blogfoot">
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
