<div class="container">
      <div class="row text-center">
        <div class="small-6 medium-3 columns">
          <p><a href="http://uqcs.org.au/">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
            </span>
          </a></p>
        </div>
        <div class="small-6 medium-3 columns">
          <p><a href="https://www.facebook.com/uqcomputing">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a></p>
        </div>
        <div class="small-6 medium-3 columns">
          <p><a href="http://twitter.com/UQComputing">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a></p>
        </div>
        <div class="small-6 medium-3 columns">
          <p><a href="http://google.com/profiles/uqcomputing">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a></p>
        </div>
      </div>
    </div>

    <footer>
      <div class="row text-center">
        <p><small>&copy UQ Computing Society 2014</small></p>
      </div>
    </footer>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
