<header class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name show-for-medium-up">
        <h1><a href="{{site.url}}"><img src="/img/UQCS_logo_small.png"> UQ Computing Society</a></h1>
      </li>
      <li class="name show-for-small-only">
        <h1><a href="{{site.url}}"><img src="/img/UQCS_logo_small.png"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      {% include nav.html %}

    </section>
  </nav>
</header>
