
<div class="navbar-fixed">
    <nav class="uqcs_grey z-depth-0">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><!-- UQ Computing Society -->
          <svg height="40" width="45">
              <image class="logo valign" xlink:href="/img/logo/logo.svg" src="/img/logo/logo.png" height="40" width="45" />
          </svg>
      </a>

      <ul id="share" class="hide-on-large-and-down" style="padding-left: 53px">
          {% include share.html %}
      </ul>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% include main_nav.html %}
      </ul>

      <ul class="side-nav" id="mobile-demo">
          {% include side_nav.html %}
      </ul>

    </div>
    </nav>
</div>


