

  <nav class="uqcs_grey">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><!-- UQ Computing Society -->
          <img class="logo valign" src="/img/logo.png">
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% include main_nav.html %}
      </ul>
      <ul id="share" class="right hide-on-med-and-down">
          {% include share.html %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
          {% include side_nav.html %}
      </ul>

    </div>
  </nav>
        


