<!-- Dropdown Structures -->
<ul id="about_dropdown" class="dropdown-content">
  <li><a href="{{site.baseurl}}/about.html">About</a></li>
  <li><a href="{{site.baseurl}}/showcase.html">Showcase</a></li>
  <!-- <li class="divider"></li> -->
  <!-- <li><a href="#!">three</a></li> -->
</ul>

<ul id="events_dropdown" class="dropdown-content">
  <!-- <li><a href="#!">Calendar</a></li> -->
  <li><a href="{{site.baseurl}}/hackathon/index.html">Hackathon</a></li>
</ul>

<ul id="contact_dropdown" class="dropdown-content">
  <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
  <li><a href="http://goo.gl/forms/FFcrizIUS8">Join!</a></li>
  <li class="divider"></li>
  <!-- <li><a href="#!">Sponsors</a></li> -->
</ul>

<ul class="left">
    <!-- <li><a href="{{site.baseurl}}/">Home</a></li> -->
    <!-- <li><a href="{{site.baseurl}}/about.html">About</a></li> -->
    <li><a class="dropdown-button" href="#!" data-activates="about_dropdown">About<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="events_dropdown">Events<i class="material-icons right">arrow_drop_down</i></a></li>
    <!-- <li><a href="{{site.baseurl}}/hackathon/index.html">Hackathon</a> -->

    <!-- <li><a href="http://goo.gl/forms/FFcrizIUS8">Sign up for UQCS!</a> -->
    <!-- <li><a href="{{site.baseurl}}/contact.html">Contact</a></li> -->
    <li><a class="dropdown-button" href="#!" data-activates="contact_dropdown">Contact<i class="material-icons right">arrow_drop_down</i></a></li>


</ul>
