<li>
    <a href="https://www.facebook.com/uqcomputing">
        <img height="14" width="14" src="{{site.baseurl}}/img/facebook_white.svg"></img>
    </a>
</li>
<li>
    <a href="https://github.com/UQComputingSociety/">
        <img height="14" width="14" src="{{site.baseurl}}/img/github_white.svg"></img>
    </a>
</li>
<li>
    <a href="http://twitter.com/UQComputing">
        <img height="14" width="14" src="{{site.baseurl}}/img/twitter_white.svg"></img>
    </a>
</li>
<li>
    <a href="https://uqcs.slack.com">
        <img height="14" width="14" src="{{site.baseurl}}/img/slack_white.svg"></img>
    </s>
</li>
