<li>
    <a href="https://www.facebook.com/uqcomputing">
        <img height="16" width="16" src="{{site.baseurl}}/img/facebook_white.svg"></img>
    </a>
</li>
<li>
    <a href="https://github.com/UQComputingSociety/">
        <img height="16" width="16" src="{{site.baseurl}}/img/github_white.svg"></img>
    </a>
</li>
<li>
    <a href="http://twitter.com/UQComputing">
        <img height="16" width="16" src="{{site.baseurl}}/img/twitter_white.svg"></img>
    </a>
</li>
<li>
    <a href="https://slack.uqcs.org.au">
        <img height="16" width="16" src="{{site.baseurl}}/img/slack_white.svg"></img>
    </s>
</li>
