<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/charon.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Charon<i class="material-icons right">more_vert</i></span>
      <!-- <p><a href="#">Website</a></p> -->
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Charon<i class="material-icons right">close</i></span>
      <p>
        A hybrid between a full blown remote desktop service and barebones SSH.
        Charon allows users to access their desktop in a way which is faster
        than traditional remote desktop features and much easier to use than
        SSH. The project was a winner at the 2015 QUT Hackathon.
      </p>
    </div>
  </div>
</div>



<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/sprinklesvanilla.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">sprinkles_for_vanilla<i class="material-icons right">more_vert</i></span>
      <p><a href="http://minecraft.curseforge.com/projects/sprinkles_for_vanilla">Website</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">sprinkles_for_vanilla<i class="material-icons right">close</i></span>
      <p>
      Sprinkles_for_vanilla is a minecraft mod which adds a config file for vanilla minecraft.
      Such configs include disabling mobs, particles, sleep, or teleporting, adding villagers,
      changing how much damage is dealt from various sources, allowing water to be placed in the nether and more...
      The mod has had over 100,000 downloads.
      <br />
      <a href="https://github.com/VikeStep/sprinkles_for_vanilla">Source Code</a>
      </p>
    </div>
  </div>
</div>




<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/saferoad.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Saferoad<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/hax0rs/SafeRoad">GitHub</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Saferoad<i class="material-icons right">close</i></span>
      <p>
        SafeRoad is designed as a platform for finding high risk road areas. It can be used in planning mainentance and further development of road infrastructure such as signage, traffic flow management and road resurfacing. It can also assist in planning new emergnecy service home-base locations. For the public, the service highlights roads of high risk and could act to reduce road use in high-use and high-risk areas. It is the <a href="https://github.com/hax0rs">UQ Hax0rs</a> team submission for GovHack BNE 2015.
      </p>
    </div>
  </div>
</div>



<div class="col s12 m6 l4">        
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/inciteful.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Inciteful<i class="material-icons right">more_vert</i></span>
      <p><a href="http://inciteful.net">Website</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Inciteful<i class="material-icons right">close</i></span>
      <p>
      Free academic influence metrics and citation tracking
      </p>
    </div>
  </div>
</div>



<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/HPCover.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">HPHelper<i class="material-icons right">more_vert</i></span>
      <p><a href="http://45.55.87.246/hphelper/">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">HPHelper<i class="material-icons right">close</i></span>
      <p>
        A suite of tools for running Paranoia: High Programmers. Currently with 
        a scenario and character generator, future features include user 
        submitted content and a live version for extra Fun!
        Other RPGs are un-fun. Play Paranoia: High Programmers. <br />
        <a href="https://github.com/lsenjov/hphelper">Source Code</a>
      </p>
    </div>
  </div>
</div>


<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/flappyarm.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">FlappyArm<i class="material-icons right">more_vert</i></span>
      <p><a href="https://flappyarm.xyz">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">FlappyArm<i class="material-icons right">close</i></span>
      <p>
        Flappy Arm is a team based game in which a team of players controls joints on a robotic arm to cooperatively pick up and move objects. The aim of Flappy Arm is to inspire and educate younger students about the multi-disciplinary effort required to create similar real world robots and systems.
        It is the <a href="https://github.com/hax0rs">UQ Hax0rs</a> team submission for QUT Hack where
        it won a prize from Technology One.
      </p>
    </div>
  </div>
</div>




<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/uqfinal.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">UQFinal<i class="material-icons right">more_vert</i></span>
      <p><a href="http://uqfinal.com/">Website</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">UQFinal<i class="material-icons right">close</i></span>
      <p>
        Quickly and easily see assessment weightings and calculate the required marks for gradings.
      </p>
    </div>
  </div>
</div>






<div class="col s12 m6 l4">
<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/cattic_books.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Catticbooks<i class="material-icons right">more_vert</i></span>
      <!-- <p><a href="#">GitHub</a></p> -->
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Catticbooks<i class="material-icons right">close</i></span>
      <p>Catticbooks was a platform design to faciliate the selling and trade
          of textbooks. Bringing ease to a task that is a chore for many
          students.The project was a winner at the 2015 UQCS Hackathon.</p>
    </div>
  </div>
</div>


<div class="col s12 m6 l4">
<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/onlinestory.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Online Story<i class="material-icons right">more_vert</i></span>
      <p><a href="http://jack775544.github.io/onlinestory-console/">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Online Story<i class="material-icons right">close</i></span>
      <p>
      An interactive bash-like console written entirely in Javascript for storytelling projects. <br />
      <a href="https://github.com/jack775544/onlinestory-console">Source Code</a>
      </p>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/tagster.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
          Tagster
          <i class="material-icons right">more_vert</i></span>
      <!--<p><a href="#">[URL]</a></p>-->
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
        Tagster
        <i class="material-icons right">close</i>
    </span>
      <p>
        Tagster is an NFC based tracking system for mining companies to track their mineral samples from the field to the lab. It was created as part of the 2016 Unearthed Hackathon. It consists of an Android app (that scans and writes the tags) and a web dashboard (for managers). The solution maintains accountability throughout the sample chain of custody, with or without access to the internet.  
      </p>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/uqparking.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
          UQParking
          <i class="material-icons right">more_vert</i></span>
      <p><a href="http://www.uqparking.com">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
        UQParking
        <i class="material-icons right">close</i>
    </span>
      <p>
        Records the parking availability at UQ and plots it over the last 24 hours. Historical data is also available.
      </p>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/shottype.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ShotType<i class="material-icons right">more_vert</i></span>
      <p><a href="http://draganmarjanovic.github.io/ShotType/">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">ShotType<i class="material-icons right">close</i></span>
      <p>
        ShotType allows you to change the format in which screenshots are saved on the Mac.
        It supports numerous formats including png, jpg, tiff, psd, and pdf. The app
        has been used across inTouch Consultancy and is Open Source.
      </p>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/canidrive.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Can I Drive?<i class="material-icons right">more_vert</i></span>
      <p><a href="http://draganmarjanovic.github.io/canidrive/">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Can I Drive?<i class="material-icons right">close</i></span>
      <p>
        A simple web app that allows you to predict your blood alcohol level (BAC).
        The app was made to assist young adults in understanding the effects of 
        different alcohol concentrations and volume on BAC and help promote
        safe driving.
      </p>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/borealysis.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Borealysis<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/hax0rs/Borealysis">GitHub</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Borealysis<i class="material-icons right">close</i></span>
      <p>
        Borealysis was made and designed during the 2016 Brisbane Unearthed
        Hackathon. The solution analyses data gathered from bore holes to establish
        the locations of coal seams and the respective fragmentation of these layers.
        In practice, such a solution could reduce data analysis by up to 3 weeks
        per hole.
      </p>
    </div>
  </div>
</div>
