   


<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/HPCover.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">HPHelper<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">HPHelper<i class="material-icons right">close</i></span>
      <p>
        A suite of tools for running Paranoia: High Programmers. Currently with 
        a scenario and character generator, future features include user 
        submitted content and a live version for extra Fun!
        Other RPGs are un-fun. Play Paranoia: High Programmers. 
      </p>
    </div>
  </div>
</div>


<div class="col s12 m6 l4">
<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/tetris_with_a_twist.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">TwistTetris!<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/inciteful.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Inciteful<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Inciteful<i class="material-icons right">close</i></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>


<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/inciteful.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Inciteful<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Inciteful<i class="material-icons right">close</i></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>


<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/inciteful.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Inciteful<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Inciteful<i class="material-icons right">close</i></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
