<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/charon.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Charon<i class="material-icons right">more_vert</i></span>
      <!-- <p><a href="#">Website</a></p> -->
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Charon<i class="material-icons right">close</i></span>
      <p>
        A hybrid between a full blown remote desktop service and barebones SSH.
        Charon allows users to access their desktop in a way which is faster
        than traditional remote desktop features and much easier to use than
        SSH. The project was a winner at the 2015 QUT Hackathon.
      </p>
    </div>
  </div>
</div>


<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/saferoad.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Saferoad<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/hax0rs/SafeRoad">GitHub</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Saferoad<i class="material-icons right">close</i></span>
      <p>
        SafeRoad is designed as a platform for finding high risk road areas. It can be used in planning mainentance and further development of road infrastructure such as signage, traffic flow management and road resurfacing. It can also assist in planning new emergnecy service home-base locations. For the public, the service highlights roads of high risk and could act to reduce road use in high-use and high-risk areas. It is the <a href="https://github.com/hax0rs">UQ Hax0rs</a> team submission for GovHack BNE 2015.
      </p>
    </div>
  </div>
</div>



<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/flappyarm.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">FlappyArm<i class="material-icons right">more_vert</i></span>
      <p><a href="https://flappyarm.xyz">Website</a></p>
    </div>
    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">FlappyArm<i class="material-icons right">close</i></span>
      <p>
        Flappy Arm is a team based game in which a team of players controls joints on a robotic arm to cooperatively pick up and move objects. The aim of Flappy Arm is to inspire and educate younger students about the multi-disciplinary effort required to create similar real world robots and systems.
        It is the <a href="https://github.com/hax0rs">UQ Hax0rs</a> team submission for QUT Hack where
        it won a prize from Technology One.
      </p>
    </div>
  </div>
</div>








<div class="col s12 m6 l4">
<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/showcase/cattic_books.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Catticbooks<i class="material-icons right">more_vert</i></span>
      <!-- <p><a href="#">GitHub</a></p> -->
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Catticbooks<i class="material-icons right">close</i></span>
      <p>Catticbooks was a platform design to faciliate the selling and trade
          of textbooks. Bringing ease to a task that is a chore for many
          students.The project was a winner at the 2015 UQCS Hackathon.</p>
    </div>
  </div>
</div>



