<div class="row">
  <div class="row">
    <div class="col s6 m5 l5 offset-l1 offset-m1">
      <a href="https://atlassian.com" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/atlassian.png">
      </a>
    </div>
    <div class="col s6 m5 l5">
      <a href="https://www.technologyonecorp.com" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/techone.png">
      </a>
    </div>
    <!--
    <div class="col s6 m4 l4 offset-m2">
      <a href="https://microsoft.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/microsoft.png">
      </a>
    </div>
    -->
    <!--
    <div class="col s6 m3 l4">
      <a href="https://workingmouse.com.au/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/workingmouse.png">
      </a>
    </div>
    -->
  </div>
  <div class="row">
    <div class="col s4 m4 l4">
      <a href="https://codebots.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/codebots.png">
      </a>
    </div>
    <div class="col s4 m4 l4">
      <a href="http://www.mcgrathnicol.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/mcgrathnicol.png">
      </a>
    </div>
    <div class="col s4 m4 l4">
      <a href="https://opengear.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/opengear.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s5 offset-s1 m3 offset-m3 l3 offset-l3">
      <a href="https://www.commbank.com.au/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/commbank.png">
      </a>
    </div>
    <div class="col s5 m3 l3">
      <a href="https://www.skedulo.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/skedulo.png">
      </a>
    </div>
  </div>
</div>