<div class="row">
  <div class="row">
    <div class="col s6 m5 l5 offset-s3">
      <a href="https://atlassian.com" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/atlassian.png">
      </a>
    </div>
    <div class="col s4 m2 l2 offset-s4">
      <a href="https://canva.com" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/canva.png">
      </a>
    </div>
    <div class="col s6 m5 l5 offset-s3">
      <a href="https://www.technologyonecorp.com" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/techone.png">
      </a>
    </div>
    <!--
    <div class="col s6 m3 l4">
      <a href="https://workingmouse.com.au/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/workingmouse.png">
      </a>
    </div>
    -->
  </div>
  <div class="row">
    <div class="col s4 m4 l4 offset-s4 offset-m4 offset-l4">
      <a href="https://www.aginic.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/aginic.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s3 m3 l3">
      <a href="https://www.accenture.com/au-en" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/accenture.png">
      </a>
    </div>
    <div class="col s3 m3 l3">
      <a href="https://codebots.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/codebots.png">
      </a>
    </div>
    <div class="col s3 m3 l3">
      <a href="http://www.mcgrathnicol.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/mcgrathnicol.png">
      </a>
    </div>
    <div class="col s3 m3 l3">
      <a href="https://opengear.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/opengear.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s2 m2 l2 offset-s3 offset-m3 offset-l3">
      <a href="https://www.commbank.com.au/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/commbank.png">
      </a>
    </div>
    <div class="col s2 m2 l2">
      <a href="https://www.facebook.com/careers/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/facebook.png">
      </a>
    </div>
    <div class="col s2 m2 l2">
      <a href="https://www.skedulo.com/" target="_blank">
        <img class="sponsor-img" src="/img/sponsors/skedulo.png">
      </a>
    </div>
  </div>
</div>