:root {
  --uqcs-grey: #2f312e;
  --uqcs-blue: #37c6ff;
  --uqcs-blue-darker: #37c6ff; /* TODO */
}

.uqcs_grey {
  background-color: var(--uqcs-grey) !important;
}

.uqcs_blue {
  background-color: var(--uqcs-blue) !important;
}
