/*UQCS Website Style Sheet*/

.uqcs-background {
    background-image: url(../img/hero-background.png);
}

.sponsor-img {
    width: 90%;
}

.sponsor-container {
    display: flex;
    align-items: center;
}

.name-banner {
    align-items: center;
    font-weight: bold;
}

.committee-headshots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

.committee-headshot {
    border-radius: 50%;
    /*border: 2px solid #444;*/
    width: 100%;
}

.committee-element {
    min-width: 10rem;
    max-width: 10rem;
    margin: 25px 25px;
}

.join-button {
    background-color: var(--uqcs-light-blue);
    border-color: transparent;
    color: white;
}

.join-button:hover {
    background-color: var(--uqcs-light-blue-darker);
    border-color: transparent;
    color: white;
}

.join-button:active, .join-button:focus {
    color: white;
}

#share-buttons .button {
    background-color: transparent;
}

#share-buttons .button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.showcase-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

.showcase-image {
    border-radius: 5%;
    /*border: 2px solid #444;*/
    width: 100%;
}

.showcase-element {
    min-width: 10rem;
    max-width: 10rem;

    margin: 25px 25px;
}

.button-box:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
    cursor: pointer;
}

h5 {
    padding-top: 20px;
}
