/*UQCS Website Style Sheet*/

.uqcs-background {
    background-image: url(../img/hero-background.png);
}

.sponsor-img {
    width: 90%;
}

.sponsor-container {
    display: flex;
    align-items: center;
}

.name-banner {
    align-items: center;
    font-weight: bold;
}

.committee-headshot {
    border-radius: 50%;
    /*border: 2px solid #444;*/
    width: 100%;
}

.committee-element {
    min-width: 10rem;
    max-width: 10rem;

    margin: 25px 25px;
}

.join-button {
    background-color: var(--uqcs-light-blue);
    border-color: transparent;
    color: white;
}

.join-button:hover {
    background-color: var(--uqcs-light-blue-darker);
    border-color: transparent;
    color: white;
}

.join-button:active, .join-button:focus {
    color: white;
}

#share-buttons .button {
    background-color: transparent;
}

#share-buttons .button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}