<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head" . }}
    </head>
    <body class="is-dark" style="display: flex; min-height: 100vh; flex-direction: column;">
        {{ partial "header" . }}

        <div style="flex: 1">
            {{ block "main" . }}{{ end }}
        </div>
        
        {{ partial "footer" . }}

        {{ "<!-- Custom JavaScript -->" | safeHTML }}
        {{ range .Site.Params.custom_js }}
        <script src="{{ . | absURL }}"></script>
        {{ end }}
    </body>
</html>