{{ "<!-- Navbar End -->" | safeHTML }}

<a class="navbar-item" href="{{ .Site.BaseURL }}/about">
    About
</a>
<a class="navbar-item" href="{{ .Site.BaseURL }}/talks">
    Talks
</a>
<a class="navbar-item" href="{{ .Site.BaseURL }}/showcase">
    Showcase
</a>
<a class="navbar-item" href="{{ .Site.BaseURL }}/events">
    Events
</a>
<a class="navbar-item" href="{{ .Site.BaseURL }}/connect">
    Connect
</a>

<div class="navbar-item">
    <div class="buttons">
        <a class="button join-button" href="https://join.uqcs.org.au/">
            <strong>Join!</strong>
        </a>
    </div>
</div>