{{ "<!-- Navbar Start -->" | safeHTML }}
<a class="navbar-item is-hidden-touch" href="https://www.facebook.com/uqcomputing" target="_blank">
    <span class="icon is-medium">
        <i height=20 class="fab fa-facebook fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://github.com/UQComputingSociety" target="_blank">
    <span class="icon is-medium">
        <i height=20 class="fab fa-github fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://www.instagram.com/uqcomputingsociety/" target="_blank">
    <span class="icon is-medium">
        <i height=20 class="fab fa-instagram fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://discord.uqcs.org/" target="_blank">
    <span class="icon is-medium">
        <i height=20 class="fab fa-discord fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://www.linkedin.com/company/uqcs" target="_blank">
    <span class="icon is-medium">
        <i height=20 class="fab fa-linkedin fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://www.youtube.com/channel/UCr-zre91o_xgnKo-LqjvP0Q" target="_blank">
    <span class="icon is-medium">
        <i height=20 class="fab fa-youtube fa-fw fa-lg"></i>
    </span>
</a>
