{{ "<!-- Navbar End -->" | safeHTML }}

<a class="navbar-item" href="{{ "/about/" | relURL }}">
    About
</a>
<a class="navbar-item" href="{{ "/talks/" | relURL }}">
    Talks
</a>
<a class="navbar-item" href="{{ "/showcase/" | relURL }}">
    Showcase
</a>
<a class="navbar-item" href="{{ "/events/" | relURL }}">
    Events
</a>
<a class="navbar-item" href="{{ "/connect/" | relURL }}">
    Connect
</a>
<a class="navbar-item" href="https://store.uqcs.org/" target="_blank">
    Store
</a>
<!-- <a class="navbar-item" href="{{ "/lambda/" | relURL }}">
    Why Lambda?
</a> -->
<!-- TODO: Move Lambda -->

<div class="navbar-item">
    <div class="buttons">
        <a class="button join-button" href="https://join.uqcs.org/">
            <strong>Join!</strong>
        </a>
    </div>
</div>
