{{ "<!-- Navbar Start -->" | safeHTML }}
<a class="navbar-item is-hidden-touch" href="https://www.facebook.com/uqcomputing">
    <span class="icon is-medium">
        <i height=20 class="fab fa-facebook fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://github.com/UQComputingSociety/">
    <span class="icon is-medium">
        <i height=20 class="fab fa-github fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="http://twitter.com/UQComputing">
    <span class="icon is-medium">
        <i height=20 class="fab fa-twitter fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://discord.uqcs.org/">
    <span class="icon is-medium">
        <i height=20 class="fab fa-discord fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://www.linkedin.com/company/uqcs">
    <span class="icon is-medium">
        <i height=20 class="fab fa-linkedin fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://www.youtube.com/channel/UCr-zre91o_xgnKo-LqjvP0Q">
    <span class="icon is-medium">
        <i height=20 class="fab fa-youtube fa-fw fa-lg"></i>
    </span>
</a>
