{{ "<!-- Navbar Start -->" | safeHTML }}
<a class="navbar-item is-hidden-touch" href="https://www.facebook.com/uqcomputing">
    <span class="icon is-medium">
        <i height=20 class="fab fa-facebook-square fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://github.com/UQComputingSociety/">
    <span class="icon is-medium">
        <i height=20 class="fab fa-github-square fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="http://twitter.com/UQComputing">
    <span class="icon is-medium">
        <i height=20 class="fab fa-twitter-square fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://slack.uqcs.org.au">
    <span class="icon is-medium">
        <i height=20 class="fab fa-slack fa-fw fa-lg"></i>
    </span>
</a>

<a class="navbar-item is-hidden-touch" href="https://www.linkedin.com/company/uqcs">
    <span class="icon is-medium">
        <i height=20 class="fab fa-linkedin fa-fw fa-lg"></i>
    </span>
</a>