$grey: #414141;
$blue: #50C3F0;
$link-hover: darken($blue, 20%);
$text: $grey;

$family-sans-serif: "Inter", sans-serif;
$family-primary: $family-sans-serif;

$radius: 0;
$radius-large: 0;
$radius-small: 0;
$radius-rounded: 0;
$card-radius: 0;
