{{ <!-- The core Firebase JS SDK is always required and must be listed first --> | safeHTML }}
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

{{ <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries --> | safeHTML }}
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyB8d_40eARXa-Y3ZzdxHJ93iMxTN32lf2E",
    authDomain: "uqcs-website.firebaseapp.com",
    databaseURL: "https://uqcs-website.firebaseio.com",
    projectId: "uqcs-website",
    storageBucket: "uqcs-website.appspot.com",
    messagingSenderId: "751474747213",
    appId: "1:751474747213:web:bc102d0cbd6537d9da3904",
    measurementId: "G-DWYJYNV53K"
  };
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
