{{ "<!-- Footer -->" | safeHTML }}
<footer class="footer uqcs-background is-dark">
    <div class="container has-text-white footer-info">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-12-mobile is-4 has-text-centered">
                <h5>Come, chat with us on Slack!</h5>
            </div>
            <div class="column is-3"></div>
            <div class="column is-12-mobile is-4">
                {{ partial "share.html" . }}
            </div>
            <div class="column"></div>
        </div>
    </div>
    <div class="container has-text-centered has-text-white">
        &copy; UQ Computing Society 2019
    </div>
</footer>