{{ "<!-- Footer -->" | safeHTML }}
<footer class="footer uqcs-background is-dark">
    <div class="container has-text-white footer-info">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div><div class="is-size-4 has-text-white">Come, chat with us!</div>
                    We would love to have you join our 
                    <a href="https://slack.uqcs.org.au/">Slack community</a>!
                </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    {{ partial "share.html" . }}
                </div>
            </div>
        </div>
        <div class="has-text-centered">
            &copy; UQ Computing Society 2021
        </div>
    </div>
</footer>
