{{ "<!-- Homepage Hero -->" | safeHTML }}

<section class="hero is-dark uqcs-background">

    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        {{ partial "nav.html" . }}
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered block">
            <img src="{{ .Site.BaseURL }}/img/logo/logo-long.svg" height="200" width="400"/>
        </div>
	<p class="is-centred uqcs-blurb" >
		    UQCS is a student society, run by students, for students. As a society, UQCS engages with a broad range of student interests, from digital design to software engineering. We are an inclusive club focused on development of the next generation of innovators, through twice-weekly events spanning educational, social, and industry emphases. Our membership spans undergraduate and postgraduate students, as well as recent graduates and alumni. Learn more about what we do by clicking on the tiles below.
	</p>
        <div class="buttons is-centered" >
            <a href="https://join.uqcs.org.au">
                <button class="button join-button is-large has-text-weight-bold">
                    Join UQCS!
                </button>
            </a>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        
    </div>
</section>
