{{ "<!-- Homepage Hero -->" | safeHTML }}

<section class="hero is-dark uqcs-background">

    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        {{ partial "nav.html" . }}
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered block">
            <img src="{{ .Site.BaseURL }}/img/logo/logo-long-white.svg" height="200" width="400"/>
        </div>
        <div class="buttons is-centered" >
            <a href="https://join.uqcs.org.au">
                <button class="button join-button is-large has-text-weight-bold">
                    Join UQCS!
                </button>
            </a>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        
    </div>
</section>
