{{ "<!-- Homepage Get Involved -->" | safeHTML }}

<div class="section uqcs-background is-dark">

    <div class="columns is-centered">
        <div class="column has-text-centered is-8-desktop">
            <h1 class="title is-centered has-text-centered text-blue">Get Involved</h1>
            <span class="block text-white">
                Come hang out and get involved within UQCS!
            </span>

            <div class="buttons is-centered mt-4">
                <a class="button join-button" href="https://github.com/UQComputingSociety/">
                    <strong>GitHub Projects</strong>
                </a>

                <a class="button join-button" href="https://youtube.com/c/UQComputingSociety/">
                    <strong>YouTube Channel</strong>
                </a>

                <a class="button join-button" href="https://discord.uqcs.org/">
                    <strong>Discord Server</strong>
                </a>
            </div>
        </div>
    </div>

</div>