{{ "<!-- Navigation -->" | safeHTML }}
<div>
    <div class="navbar-fixed">
        <nav class="uqcs_grey z-depth-0">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                <img class="logo valign" src="/img/logo/logo.svg" height="40" width="45" />
            </a>

            <ul id="share" class="hide-on-large-and-down" style="padding-left: 53px">
                {{ partial "share.html" . }}
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{ partial "nav/main_nav.html" . }}
            </ul>

        </div>
        </nav>
    </div>
</div>