{{"<!-- Share -->" | safeHTML }}

<div class="buttons" id="share-buttons">
    <a class="button is-dark" href="https://www.facebook.com/uqcomputing">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-facebook"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://github.com/UQComputingSociety/">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-github"></i>
        </span>
    </a>
    <a class="button is-dark" href="http://twitter.com/UQComputing">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-twitter"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://discord.uqcs.org/">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-discord"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://www.linkedin.com/company/uqcs">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-linkedin fa-fw"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://www.youtube.com/channel/UCr-zre91o_xgnKo-LqjvP0Q">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-youtube fa-fw"></i>
        </span>
    </a>
</div>
