{{"<!-- Share -->" | safeHTML }}

<div class="buttons" id="share-buttons">
    <a class="button is-dark" href="https://www.facebook.com/uqcomputing" target="_blank">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-facebook"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://github.com/UQComputingSociety" target="_blank">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-github"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://www.instagram.com/uqcomputingsociety/" target="_blank">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-instagram"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://discord.uqcs.org/" target="_blank">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-discord"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://www.linkedin.com/company/uqcs" target="_blank">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-linkedin fa-fw"></i>
        </span>
    </a>
    <a class="button is-dark" href="https://www.youtube.com/channel/UCr-zre91o_xgnKo-LqjvP0Q" target="_blank">
        <span class="icon">
            <i height="20" width="20" class="fab fa-lg fa-youtube fa-fw"></i>
        </span>
    </a>
</div>
