{{ "<!-- Share -->" | safeHTML }} 
<li>
    <a href="https://www.facebook.com/uqcomputing">
        <i height="16" width="16" class="fab fa-facebook-square fa-fw"></i>
    </a>
</li>
<li>
    <a href="https://github.com/UQComputingSociety/">
        <i height="16" width="16" class="fab fa-github-square fa-fw"></i>
    </a>
</li>
<li>
    <a href="http://twitter.com/UQComputing">
        <i height="16" width="16" class="fab fa-twitter-square fa-fw"></i>
    </a>
</li>
<li>
    <a href="https://slack.uqcs.org.au">
        <i height="16" width="16" class="fab fa-slack fa-fw"></i>
    </a>
</li>
<li>
    <a href="https://www.linkedin.com/company/uqcs">
        <i height="16" width="16" class="fab fa-linkedin fa-fw"></i>
    </a>
</li>