{{ "<!-- Sponsor Banner -->" | safeHTML }}
<div class="section">
    <div class="columns is-centered">
        <div class="column has-text-centered mx-6 is-10-tablet is-8-desktop is-6-fullhd">
            <h1 class="title is-centered has-text-centered text-blue">Sponsors</h1>
            <span class="block">
                UQCS is made possible with the support of our industry partners!
            </span>

            <!-- Emerald Sponsors -->
            <div class="columns mt-1 mb-0 is-mobile is-vcentered is-centered is-multiline">
                <a class="column is-two-fifths-tablet is-half-mobile" href="https://www.janestreet.com/">
                    <img src="{{ "/img/sponsors/jane_street.png" | relURL }}" width="100%" style="margin-top: 36px;"
                        alt="Jane Street" />
                </a>
                <a class="column is-one-third-tablet is-half-mobile" href="https://www.tanda.co/">
                    <img src="{{ "/img/sponsors/tanda.svg" | relURL }}" width="100%" alt="Tanda" />
                </a>
            </div>

            <!-- Gold Sponsors -->
            <div class="columns mb-0 is-mobile is-centered is-vcentered is-multiline">
                <a class="column is-one-third-tablet is-half-mobile" href="https://www.citadelsecurities.com/">
                    <img src="{{ "/img/sponsors/citadel.svg" | relURL }}" width="90%" alt="Citadel Securities" />
                </a>
                <a class="column is-one-third-tablet is-half-mobile" href="https://www.quantum-australia.com/">
                    <img src="{{ "/img/sponsors/quantumaus.svg" | relURL }}" width="90%" alt="Quantum Australia" />
                </a>
                <a class="column is-one-third-tablet is-half-mobile" href="https://optiver.com/">
                    <img src="{{ "/img/sponsors/optiver.svg" | relURL }}" width="90%" alt="Optiver" />
                </a>
            </div>

            <!-- Other Sponsors -->
            <div class="columns mb-0 is-mobile is-centered is-vcentered is-multiline">
                <a class="column is-one-quarter-tablet is-half-mobile" href="https://jobs.boeing.com">
                    <img src="{{ "/img/sponsors/boeing.svg" | relURL }}" width="90%" alt="Boeing" />
                </a>
                <a class="column is-one-quarter-tablet is-half-mobile" href="https://www.atlassian.com/">
                    <img src="{{ "/img/sponsors/atlassian.svg" | relURL }}" width="90%" alt="Atlassian" />
                </a>
                <a class="column is-one-quarter-tablet is-half-mobile"
                    href="https://www.oracle.com/au/corporate/careers/">
                    <img src="{{ "/img/sponsors/oracle.svg" | relURL }}" width="90%" alt="Oracle" />
                </a>
                <a class="column is-one-quarter-tablet is-half-mobile" href="https://www.imc.com/">
                    <img src="{{ "/img/sponsors/imc.svg" | relURL }}" width="90%" alt="IMC" />
                </a>
                <a class="column is-one-quarter-tablet is-half-mobile" href="https://vivcourt.com/">
                    <img src="{{ "/img/sponsors/vivcourt.svg" | relURL }}" width="90%" alt="VivCourt" />
                </a>
                <a class="column is-one-quarter-tablet is-half-mobile" href="https://getcracked.io/">
                    <img src="{{ "/img/sponsors/getcracked.svg" | relURL }}" width="90%" alt="getcracked.io" />
                </a>
            </div>
        </div>
    </div>
</div>