{{ "<!-- Sponsor Banner -->" | safeHTML }}
<div class="section">
    <div class="columns is-centered">
        <div class="column has-text-centered is-8-desktop">
            <div class="is-size-4 block">
                Made possible by our industry partners!
            </div>

            <!-- object tag enables links inside the SVG image -->
            <object type="image/svg+xml" data="{{ .Site.BaseURL }}/img/sponsors/all_sponsors.svg">
                Sponsor Banner
            </object>
        </div>
    </div>

</div>