{{ "<!-- Sponsor Banner -->" | safeHTML }}
<div class="section">
    <div class="columns is-centered">
        <div class="column has-text-centered mx-6 is-10-tablet is-8-desktop is-6-fullhd">
            <h1 class="title is-centered has-text-centered text-blue">Sponsors</h1>
            <span class="block">
                UQCS is made possible with the support of our industry partners!
            </span>

            <!-- Emerald Sponsors -->
            <div class="columns mt-1 is-vcentered is-centered is-multiline">
                <a class="column is-half" href="https://www.acs.org.au/">
                    <img src="{{ "/img/sponsors/acs.png" | relURL }}" width="40%" alt="Australian Computing Society"/>
                </a>
                <a class="column is-half" href="https://www.oracle.com/au/corporate/careers/">
                    <img src="{{ "/img/sponsors/oracle.svg" | relURL }}" width="100%" alt="Oracle"/>
                </a>
                <a class="column is-half" href="https://www.janestreet.com/">
                    <img src="{{ "/img/sponsors/jane_street.png" | relURL }}" width="100%" alt="Jane Street"/>
                </a>
                <a class="column is-half" href="https://jobs.boeing.com">
                    <img src="{{ "/img/sponsors/boeing.svg" | relURL }}" width="100%" alt="Boeing"/>
                </a>
                <a class="column is-half" href="https://www.technology1.com/">
                    <img src="{{ "/img/sponsors/technologyone.svg" | relURL }}" width="100%" alt="Technology One"/>
                </a>
            </div>

            <!-- Gold Sponsors -->
            <div class="columns mt-4 is-mobile is-centered is-vcentered is-multiline">
                <a class="column is-one-third-tablet is-half-mobile" href="https://swyftx.com/">
                    <img src="{{ "/img/sponsors/swyftx.svg" | relURL }}" width="90%" alt="Swyftx"/>
                </a>
                <a class="column is-one-third-tablet is-half-mobile" href="https://jracademy.com.au/">
                    <img src="{{ "/img/sponsors/jracademy.png" | relURL }}" width="90%" alt="JR Academy"/>
                </a>

            </div>

            <!-- Silver Sponsors -->
            <div class="columns mt-4 is-mobile is-centered is-vcentered is-multiline">
                <a class="column is-one-third-tablet is-half-mobile" href="https://sig.com/">
                    <img src="{{ "/img/sponsors/new_sig.svg" | relURL }}" width="90%" alt="SIG"/>
                </a>
                <a class="column is-one-third-tablet is-half-mobile" href="https://optiver.com/">
                    <img src="{{ "/img/sponsors/optiver.svg" | relURL }}" width="90%" alt="Optiver"/>
                </a>
            </div>

            <!-- Bronze Sponsors -->
            <div class="columns mt-4 is-mobile is-centered is-vcentered is-multiline">
                <a class="column is-one-quarter-tablet is-half-mobile" href="https://vivcourt.com/">
                    <img src="{{ "/img/sponsors/vivcourt.webp" | relURL }}" width="90%" alt="VivCourt"/>
                </a>
                <a class="column is-one-quarter-tablet is-half-mobile" href="https://www.imc.com/">
                    <img src="{{ "/img/sponsors/imc.svg" | relURL }}" width="90%" alt="IMC"/>
                </a>
            </div>
        </div>
    </div>
</div>