{{ "<!-- Upcoming Events -->" | safeHTML }}

<div class="section">

    <div class="columns is-centered">
        <div class="column has-text-centered is-8-desktop">
            <h1 class="title is-centered has-text-centered text-blue">Upcoming Events</h1>
            <span class="block">
                Here is what is coming up with UQCS!
            </span>

            <div id="events-box" class="tile is-ancestor mt-3"></div>

            <template id="event-item-template">
                <div class="tile is-parent">
                    <a id="event-link" href="#" target="_blank">
                        <div class="tile is-child box">
                            <h3 class="is-size-5" id="event-name"></h3>
                            <h4 class="is-size-6" id="event-time"></span>
                                <h4 class="is-size-6" id="event-location"></h4>
                            </div>
                        </a>
                </div>
            </template>

            <template id="events-empty">
                <div class="tile is-child">
                    <p class="mt-4">
                        It seems that there are no scheduled upcoming events. <br/>
                        Follow us on <a href="https://facebook.com/UQComputing">Facebook</a> 
                        or join our <a href="https://discord.uqcs.org">Discord</a> to keep up to date with what is going on.
                    </p>
                </div>
            </template>
        </div>
    </div>

</div>

<script>
    async function getCalendar() {
        const url = "https://www.googleapis.com/calendar/v3/calendars/q3n3pce86072n9knt3pt65fhio%40group.calendar.google.com/events?"
        const params = {
            "maxResults": "3",
            "orderBy": "startTime",
            "singleEvents": "true",
            "timeMin": new Date().toISOString(),
            "key": "AIzaSyC-c78Fu_Rw36zKXh9XvCpTOXvlNPXlyNc",
        }
        
        const encodedParams = new URLSearchParams(params).toString()
        
        const newEvents = await fetch(url + encodedParams, {
            Accept: "application/json"
        }).then(response => response.json())
        .then(data => {
            const eventsBox = document.getElementById("events-box")
            
            const eventsList = data.items

            // Check if nothing came back, if so report nothing is coming up.
            if (!eventsList) {
                const emptyTemplate = document.getElementById("events-empty")
                eventsBox.appendChild(emptyTemplate.content.cloneNode(true))
                return
            }
            
            eventsList.forEach(element => {
                const template = document.getElementById("event-item-template")
                const newItem = template.content.cloneNode(true)

                const name = newItem.getElementById("event-name")
                name.textContent = element.summary
                
                const time = newItem.getElementById("event-time")
                time.textContent = new Date(element.start.dateTime).toLocaleString(
                    "en-AU", { weekday: "long", day: "numeric", month: "short", hour: "numeric", minute: "numeric" }
                )

                const location = newItem.getElementById("event-location")
                location.textContent = element.location

                const eventLink = newItem.getElementById("event-link")
                eventLink.href = element.htmlLink

                eventsBox.appendChild(newItem)
            });
        })
    }

    getCalendar()
</script>