<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="is-dark">

        {{ partial "hero.html" . }}

        {{ partial "upcoming-events.html" . }}

        {{ partial "involved.html" . }}

        {{ partial "sponsor-banner.html" . }}

        {{ partial "footer.html" . }}

        {{ "<!-- Custom JavaScript -->" | safeHTML }}
        {{ range .Site.Params.custom_js }}
        <script src="{{ . | absURL }}"></script>
        {{ end }}

        {{ partial "firebase" . }}

    </body>
</html>
